body{
          background-color: #212121;
          color: #fff;
          display: flex;
          justify-content: center;
          
}

#wrapper{

          background-color: rgb(63, 63, 63);
          height: 600px;
          width: 450px;
          padding: 10px;
          text-align: center;
          box-shadow: 2px 10px 20px rgb(242, 236, 236);
          margin: 30px;

          
}

.guessField{
          height: 30px;
          width: auto;
}


#subt {
          background-color: rgb(12, 13, 12);
          color: white;
          height: 40px;
          width: 140px;
          padding: 10px;
          margin: 20px;
          font-size: medium;
          border-radius: 10px;
          border: 2px solid black;
          box-shadow: 0 10px 20px black;

} 