.button {
          height: 100px;
          width: 100px;
          padding: 5px;

}

#red {
          background-color: red;
}

#green {
          background-color: green;
}

#blue {
          background-color: blue;
}

#yellow {
          background-color: yellow;
}