body{
          background-color: gray;
                    display: flex;
                              justify-content: center;
}

.container{
          height: 700px;
          width: 500px;
          background-color: aqua;
          margin: 30px;

}
h1{
          text-align: center;
}

.from{
          text-align: center;
          margin-top: 20px;
          padding-top: 30px;
}

.box1{
          height: 25px;
          text-align: center;
          border: 2.5px solid black;
          

}

.box2{
          height: 25px;
          text-align: center;
          border: 2.5px solid black;
          margin-top: 10px;

}

button{
          background-color: green;
          color: white;
          height: 50px;
          width: 100px;
          padding: 10px;
          margin: 20px;
          font-size: medium;
}

#weight-guide{
          margin-top: 60px;
}